$bg_color:#FFFFF0;
$menu_color:#76a0ef;
$menu_border:#ffdb99;
$bt_color:#bbd0f7;
$table-border:1px solid #000080;

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: $bg_color;
  margin:0;
}

header{
  background-color: $menu_color;
  border: 1px solid $menu_border;
  margin: 0;
  top:0;
  left:0;
  right:0;
  padding: 10px 20px 10px 20px;
}

main{
    margin: 0 auto;
    margin-top: 10px;
  
  form{
    border-style: ridge;
    border-color: #bbd0f7;
    width: 350px;
    margin: 40px auto;
    
    .in{
      text-align: right;
      margin: 15px 50px 5px 50px;
      
      #age{
        width: 40px;
        margin-right: 109px;
      }
      
      input{
        border-radius: 3px;
        height: 20px;
        &:hover{
          background-color: #e8effc;
        }
      }
      
    }
    
    .bt{
        text-align: center;
        margin-bottom: 15px;
        
        input{
          margin: 5px;
          width: 60px;
          height: 25px;
          border-radius: 3px;
          background-color: $bt_color;
          &:hover{
            background-color: lighten($bt_color, 5%);
          }
        }
    }
  }
  
  table {
    margin: 40px auto;
    border-style: double;
    border-color: #000080;
    border-collapse: collapse;
    
      th{
        border-style: double;
        border-color: #000080;
        text-align: center;
        padding: 4px;
      }  
      tr td{
        border: $table-border;
        padding: 3px;
      }
      
      .ed{
        font-weight: bold;
        &:hover{
          color: #32CD32;
          cursor: pointer;
        }
      }
      
      .del{
        font-weight: bold;
        &:hover{
          color: red;
          cursor: pointer;
        }
      }
  }
}

footer{
  background-color: $menu_color;
  border: 1px solid $menu_border;
  position: static;
  bottom:0;
  height:30px;
  left:0;
  right:0;
  padding: 10px;
}




